
@{
    ViewBag.Title = "Tìm Kiếm Khóa Học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="wrapper">
        <div id="tabsTop">
            <div id="bodySearch">
                <div class="searchLeft">Kết quả tìm kiếm: @ViewBag.txtSearch</div>
                <div class="searchRight">Tìm thấy @ViewBag.totalItem khóa học</div>
                <div class="clear-both"></div>
            </div>
            <div class="titleCourse">

                <div class="titleCourse">
                    <a class="nav-link active" aria-current="page" href="#">Học nhiều nhất</a>
                    <a class="nav-link" href="#">Đánh giá cao</a>
                    <a class="nav-link" href="#">Mới nhất</a>
                    <a class="nav-link" href="#">Giá thấp đến cao</a>
                    <a class="nav-link" href="#">Giá cao đến thấp</a>
                </div>
            </div>
            <!-- Để các khoá học top -->
            <div class="tabTop">
                @foreach (OnlineEduDB.Course item in @ViewBag.ListCourse)
                {
                    <div class="card_item">
                        <div class="card_inner">
                            <img src="https://laptrinhit.net/wp-content/uploads/2020/03/maxresdefault.jpg">
                            <div class="role_name">@item.CourseName</div>
                            <div class="real_name">Ten Giang Vien Cua Course</div>
                            <div class="film">@item.Price</div>
                            <div><button type="button" class="btn btn-outline-warning">KHÁM PHÁ</button></div>
                        </div>
                    </div>
                }
                <center>
                    <div class="paging">
                        @for (int i = 1; i < ViewBag.totalPae; i++)
                        {
                            <a href="/search?txtSearch=@ViewBag.txtSearch&&index=@i">@i</a>
                        }
                    </div>
                </center>
            </div>
        </div>
    </div>
</body>

