
@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}
@{
    var courseDAO = ViewBag.courseDAO as OnlineEducation.Model.CourseDAO;
    var userDAO = ViewBag.userDAO as OnlineEducation.Model.UserDAO;
}
<link href="~/Content/css/VerifyOrder.css" rel="stylesheet" />

<div class="header-2">Quản lý đơn đặt hàng</div>
<div id="wapper-verify">
    <h1>Danh sách học viên đã mua khóa học trên hệ thống</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tài khoản</th>
                <th>Học viên</th>
                <th>Email</th>
                <th>SĐT</th>
                <th>Đã mua khóa học</th>
            </tr>
        <thead>
        <tbody>
            
                @{
                    int count = 1;
                }
                @foreach (OnlineEduDB.MyCourse item in ViewBag.ListMyCourse)
                {
                    OnlineEduDB.User user = userDAO.getUserByUserID(item.User_ID);
                    OnlineEduDB.Course course = courseDAO.getCourseByID(item.Course_ID);
                    <tr>
                        <td>@count</td>
                        <td>@user.Username</td>
                        <td>@user.FullName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@course.CourseName</td>
                    </tr>
                    count++;
                }
        </tbody>
        </table>
</div>







